In [1]:
import pandas as pd 


df= pd.read_csv("https://raw.githubusercontent.com/mpaydar/data_mining_datasets/refs/heads/main/Groceries_dataset.csv")
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [7]:
test= {'Member_number' , 'itemDescription'}
selected_columns = list(test)
df[selected_columns]

       Member_number        itemDescription
0               1808         tropical fruit
1               2552             whole milk
2               2300              pip fruit
3               1187       other vegetables
4               3037             whole milk
...              ...                    ...
38760           4471          sliced cheese
38761           2022                  candy
38762           1097               cake bar
38763           1510  fruit/vegetable juice
38764           1521               cat food

[38765 rows x 2 columns]

In [18]:
frequencies= df['Member_number'].value_counts()

In [20]:
type(frequencies)

pandas.core.series.Series

In [24]:
indexes= frequencies[frequencies > 30].index

In [25]:
filtered_df = df [df['Member_number'].isin(indexes)]
filtered_df

       Member_number        Date  itemDescription
123             3915  21-05-2015  misc. beverages
421             3180  15-03-2015       whole milk
433             3737  03-03-2015    bottled water
1192            3050  07-04-2015           yogurt
1270            2625  03-10-2015          chicken
...              ...         ...              ...
37300           3180  09-11-2014        margarine
37420           3180  30-07-2014            sugar
37603           2051  01-05-2014    cream cheese
37762           2271  30-09-2014           yogurt
38721           2271  03-02-2014           yogurt

[259 rows x 3 columns]

In [ ]:
df